body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

main {
  padding: 20px;
}

input, button {
  margin: 5px;
  padding: 8px;
}

ul {
  background: white;
  padding: 10px;
  list-style: none;
}

li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}